.searchBrandBoxCol {
    float: left;
    width: 30%;
    padding: 10px;
}
.searchForm {
    position: relative;
}
.searchFieldCtn {
    padding: 5px;
}
.searchField {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 5px;
    display: flex;
}
.searchField input{
    padding: 5px;
    border: none;
    margin-inline-start: 5px;
    width: 100%;
}
.brandTitle {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.searchResultItem {
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    transition: .3s all;
    margin-top: 15px;
}
.searchResultItem:hover {
    box-shadow: 5px 10px 18px #f2f2f2;
    transform: scale(1.01);
    transition: .3s all;
}
.brandName {
    font-size: 20px;
    text-align: center;
}
/* .searchThumbnail {
    
} */
@media screen and (max-width: 768px) {
    .searchBrandBoxCol {
        width: 100%;
    }
}