.input {
    composes: input from '../Field/field.css';
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: var(--venia-brand-color-1-700);
}

.input:disabled {
    color: rgb(var(--venia-global-color-gray-darker));
}

.input_error {
    composes: input from '../Field/field.css';
    border: none;
    border-bottom: 1px solid rgb(var(--venia-global-color-red-400));
    border-radius: 0;
}
