.brandsContainer::after {
    content: '';
    display: table;
    clear: both;
}
/* .searchBrandBoxCol {
    float: left;
    width: 30%;
    padding: 10px;
} */
.brandsList {
    float: left;
}

.brandListRow::after {
    content: '';
    display: table;
    clear: both;
}
.brandListRow {
}
.brandItem {
    float: left;
    padding: 10px;
}
.brandTitle {
    float: left;
    padding-top: 12px;
}
.brandThumbnail {
    max-width: 80%;
}
/* .searchForm {
    position: relative;
}
.searchFieldCtn {
    padding: 5px;
}
.searchField {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 5px;
    display: flex;
}
.searchField input{
    padding: 5px;
    border: none;
    margin-inline-start: 5px;
    width: 100%;
}
.brandTitle {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
} */

@media screen and (max-width: 768px) {
    .brandsList, .brandsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .brandItem {
        width: 50%;
        padding: 15px;
    }
}
